{% extends 'base.html' %}
{% load mathfilters %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 my-3 p-3">
                <form action="{% url 'index' %}" method="POST">
                    {% csrf_token %}
                    <label>Select your store type</label>
                    <div class="row">
                        <div class="col-md-9">
                            <select class="form-select" name="store" id="store" required>
                                <option></option>
                                <option value="Burger King"
                                    {% if store_type == "Burger King" %}
                                            selected
                                    {% endif%}
                                >Burger King</option>
                                <option value="Pizza Hut"
                                {% if store_type == "Pizza Hut" %}
                                    selected
                                {% endif%}
                                >Pizza Hut</option>
                                <option value="Starbucks"
                                {% if store_type == "Starbucks" %}
                                    selected
                                {% endif%}
                                >Starbucks</option>
                                <option value="Verizon"
                                {% if store_type == "Verizon" %}
                                    selected
                                {% endif%}
                                >Verizon</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="Search" class="btn btn-primary">
                        </div>
                            <div
                                {% if status == 'success' %}
                                    class="text-success pl-2"
                                {% else %}
                                    class="text-danger pl-2"
                                {% endif %}
                            >
                                {% if msg %}
                                    {{msg}}
                                {% endif %}
                            </div>
                    </div>
                </form>
            </div>    
        </div>
        <div class="row">
            <div class="col mb-5">
                {% if stores %}
                <div class="bg-light d-flex justify-content-between py-3">
                    <h3>{{ store_type }} Stores</h3>
                    <form action="{% url 'filter' %}" method="post" class="d-flex"> 
                        {% csrf_token %}
                        <input type="hidden" name="store_type" value="{{ store_type }}">
                        <input type="text" name="search_key" value="{{ search_key }}" class="form-control" placeholder="Filter by name, address, city or state" required>
                        <input type="submit" value="Filter" class="btn btn-primary ms-1">
                    </form>
                </div>
                <table class="table table-striped">
                    <thead class="bg-primary">
                        <tr>
                            <th class="text-light">#</th>
                            <th class="text-light">Store Name</th>
                            <th class="text-light">Address</th>
                            <th class="text-light">City</th>
                            <th class="text-light">State</th>
                            <th class="text-light">Zip</th>
                            <th class="text-light">Phone</th>
                            <th class="text-light">Location(lat, long)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for store in stores %}
                            <tr>

                                {% if request.GET.page %}
                                    <td>{{ request.GET.page | sub:1 | mul:10 |add:forloop.counter }}</td>
                                {% else %}
                                    <td>{{ forloop.counter }}</td>
                                {% endif %}
                                <td>{{ store.store_name }}</td>
                                <td>{{ store.store_address }}</td>
                                <td>{{ store.store_city }}</td>
                                <td>{{ store.store_state }}</td>
                                <td>{{ store.store_zip }}</td>
                                <td>{{ store.store_phone }}</td>
                                <td class="text-center">
                                    {% if store.store_latitude %}
                                        {{ store.store_latitude | floatformat:4  }}, {{ store.store_longitude | floatformat:4 }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center">
                    <form action="{% url 'send_email' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="store_type" value="{{ store_type }}">
                        <input type="submit" value="Send Mail"class="btn btn-primary my-3">
                    </form>
                </div>
                <div>
                    {% for i in stores.paginator.page_range %}
                        {% if stores.number == i %}
                            <a>{{ i }}</a>
                        {% else %}
                            <a href="?st={{store_type}}&page={{i}}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% elif not stores and store_type %}
                <p class="text-danger"> Sorry No Store Found</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock  %}
