{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 p-5 my-2">
            <h3 class="text-center mb-1 pb-3 border-bottom">Login</h3>
            <div>
                <label class="text-danger">{{ error }}</label>
                <form id="login_form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" value="{{ data.email }}">
                            <label id="email_error" class="text-danger">
                            {% if form and 'email' in form.errors %}
                                {{ form.errors.email }}
                            {% endif %}
                        </label>
                        </div>
                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" value="{{ data.password }}">
                            <label id="password_error" class="text-danger"></label>
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary form-control">
                    </form>
                    <label class="d-block text-center mt-4">Don't have an Account? <a href="{% url 'register' %}">Register</a></label>
                </form>
            </div>
        </div>    
    </div>
</div>
{% endblock  %}

{% block jsContent %}
    <script src="{% static 'js/loginValidator.js'%}"></script>
{% endblock  %}
